@model InversionViewModel
@{
    ViewData["Title"] = "Simula tu inversión";
}
<head>
    <script defer src="~/js/simulacion.js"></script>
</head>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <form id="formulario-simulacion" for="click">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="card mx-auto mt-3" style="max-width: 500px;">
                    <div class="card-header">
                        Simula tu inversión
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label asp-for="Importe" class="form-label"></label>
                            <input asp-for="Importe" class="form-control" id="importe">
                            <span asp-validation-for="Importe" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="TipoInversion" class="form-label"></label>
                            <select id="tiposInversion" asp-for="TipoInversion" class="form-select">
                                <option value="">Seleccione un valor para este campo</option>
                                @foreach (var tipo in ViewBag.TiposInversionList)
                                {
                                    <option value="@tipo.Value" data-rendimiento="@tipo.Value">@tipo.Text</option>   
                                }
                            </select>
                            <span asp-validation-for="TipoInversion" class="text-danger"></span>
                        </div>
                        <div class="contenedor-slider">
                            <label asp-for="Plazo" class="form-label"></label>
                            <input asp-for="Plazo" type="range" min="1" max="5" value="1" class="slider">
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <button class="btn btn-primary">Simular inversión</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="container-chart">
                <div class="chart"></div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}


