

.card-header {
    background-color: lightgray;
}


.slider {
    width: 100%;
}

.card-footer {
    background-color: lightgray;
}

/* Estilos del gráfico */
.container-chart {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chart {
    width: 100%;
    height: 60px;
}





