html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

#logout-button {
    font-size: 30px;
}

#iconoEliminarEditar{
    font-size: 20px;
}
#iconoAgregar{
    font-size: 50px;
}
