@model Frontend_ProInvest.Models.DocumentosExpedienteViewModel
@{
    Layout = null;
}
<form asp-action="EditarDocumentosExpedientePost" asp-controller="admin" method="post" asp-route-id="@Model.IdDocumento">
    <div class="form-group">
        <label for="NombreDocumento">Nombre</label>
        <input type="text" class="form-control" id="Nombre" asp-for="NombreDocumento" value="@Model.NombreDocumento" required>
    </div>
    <div class="container-fluid text-end mt-4">
        <button type="submit" class="btn btn-primary">Agregar</button>
    </div>

</form>