@model Frontend_ProInvest.Models.DocumentosExpedienteViewModel
@{
    Layout = null;
}
<form asp-action="EliminarDocumentoExpedientePost" method="post" asp-controller="admin" asp-route-id="@Model.IdDocumento">
    <div class="form-group">
        <label for="Nombre">¿Estas seguro de querer eliminar el origen de inversion @Model.NombreDocumento?</label>
    </div>
    <div class="container-fluid text-end mt-4">
        <button type="submit" class="btn btn-primary">Eliminar</button>
    </div>
</form>
