
@{
    ViewData["Title"] = "Menu administradores";
}

<h2 class="text-center mb-4"> ¿Qué deseas hacer?</h2>

<div class="row align-items-center row-cols-1 row-cols-md-2 g-4 text-center ">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Revisar solicitudes de innversíón</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <a asp-action="SolicitudesInversiones" class="btn btn-primary">Ir allá</a>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Gestionar tipos de inversión</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <a asp-action="AdministrarTiposDeInversion" class="btn btn-primary">Ir allá</a>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Gestionar origenes de inversión</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
            <a href="#" class="btn btn-primary">Ir allá</a>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Gestionar bancos</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <a href="#" class="btn btn-primary">Ir allá</a>
        </div>
    </div>
    <div class="col align-self-center">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Gestionar lista de documentos</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <a href="#" class="btn btn-primary">Ir allá</a>
        </div>
    </div>
</div>