@{
    ViewData["Title"] = "Contrato de Inversion ProInvest";
}
<div id="Contrato">


<h1>Contrato de Inversión</h1>

<p>
    <h6> 1. OBJETO DEL CONTRATO: </h6>

    La Empresa acuerda recibir una inversión por parte del Inversionista, y el Inversionista acuerda proporcionar dicha inversión a cambio de la participación especificada en la Sección 2 de este contrato.

    <h6> 2. PARTICIPACIÓN EN LA EMPRESA: </h6>

    A cambio de la inversión proporcionada, el Inversionista recibirá una participación de la Empresa.

    <h6>3. MONTO DE LA INVERSIÓN: </h6>

    El monto total de la inversión acordada es de $10,000.

    <h6>4. CONDICIONES DE PAGO: </h6>

    El Inversionista se compromete a realizar el pago de la inversión.

    <h6>5. ORÍGENES LÍCITOS DE LOS FONDOS:</h6>

    Ambas partes confirman que los fondos utilizados para esta inversión tienen un origen lícito, conforme a lo establecido en el Acuerdo de Orígenes Lícitos de Inversión adjunto como Anexo A.

    <h6>6. DERECHOS Y RESPONSABILIDADES:</h6>

    La Empresa otorgará al Inversionista los derechos y responsabilidades asociados con su participación accionaria de acuerdo con la legislación vigente y los estatutos de la Empresa.

    <h6>7. CONFIDENCIALIDAD:</h6>

    Ambas partes acuerdan mantener la confidencialidad de la información comercial y financiera obtenida durante la vigencia de este contrato.

    <h6>8. VIGENCIA DEL CONTRATO:</h6>

    Este contrato entrará en vigor en la fecha de firma y permanecerá en vigencia hasta que se cumplan todas las obligaciones establecidas en este acuerdo.

    <h6> 9. LEGISLACIÓN APLICABLE:</h6>

    Este contrato se regirá e interpretará de acuerdo con las leyes del [País] y cualquier disputa será resuelta por los tribunales competentes de dicho país.

    <h3 class="text-center">Firma del contrato</h3>
    <div class="text-center">
        <img src="" alt="Firma del contrato" id="firma">
    </div>

</p>
</div>

<script>
    if (window.opener) {
        document.querySelector('#firma').src = window.opener.obtenerImagen();
        window.print();
    }
</script>
